<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM nm_notice WHERE writer=#{writer}
	</select>
	
	<select id="listCriteria" parameterType="hashMap" resultType="com.service.unix.mypageVo.MypageVo">
		<![CDATA[
			SELECT * FROM nm_notice 
			WHERE writer=#{writer } 
			ORDER BY id DESC
			LIMIT #{page }, #{perPageNum }
		]]>
	</select>
	
	<insert id="create" parameterType="com.service.unix.mypageVo.MypageVo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO nm_notice (title, content, writer, date, time) VALUES (#{title}, #{content}, #{writer}, #{date}, #{time})
	</insert>
	
	<select id="read" resultType="com.service.unix.mypageVo.MypageVo">
		SELECT * FROM nm_notice WHERE id=#{id }
	</select>
	
	<update id="update">
		UPDATE nm_notice SET title=#{title}, content=#{content}, date=#{date}, time=#{time} WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="com.service.unix.mypageVo.MypageVo">
		DELETE FROM nm_notice WHERE title=#{title} AND date=#{date} AND time=#{time} AND content=#{content} AND writer=#{writer}
	</delete>
</mapper>
