@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

footer {
	background-color: rgb(208, 208, 208);
	width: 100%;
}

footer #footer_1, #footer_2, .footer_imgLR {
	padding: 15px 150px 15px 150px;
}

#footer_2 {
	line-height: 25px;
}

#footer_1 {
/* 	width: 100%; */
}

#footer_2 p {
	line-height: 25px;
	width: 100%;
}

hr {
	border: 0;
	height: 1px;
	background-color: rgb(116, 116, 116);
}

.footer_imgLR {
	display: flex;
	justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom:50px;
}
.footer_imgLR img{
	width:84%;
	height:100%;
	
}
/* #footer_left { */
/* 	background-image: url("../imgs/footer_left.svg"); */
/* 	background-size: cover; */
/* 	width:100%; */
/* } */

#footer_left, #footer_right {
	display: flex;
	align-items: center;
	
}
span {
	width:100px;
	
}

#right_1 {
margin-right:30px;
}

/* #right_2 { */
/* 	background-image: url("../imgs/footer_right_2.svg"); */
/* 	background-size: cover; */
/* 	width:100%; */
/* } */
/* 모바일 */
@media all and (min-width:320px) and (max-width:767px) {
			html, body {
		min-width: unset;
		overflow-x: hidden;
	}
	footer #footer_1, #footer_2, .footer_imgLR {
		padding: 15px 20px 15px 20px;
	}
	span {
    font-size: 9px;
	}
	footer {
	background-color: #EFEFEF;
	color: #333;
	width: 100%;
	}
}