@charset "UTF-8";

@import
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css')
	;

* {
	margin: 0;
	padding: 0;
	font-family: 'Pretendard';
}

.header1 {
	display: flex;
	justify-content: space-between;
	padding: 0 70px;
	height: 105px;
}
#header1_left img {
	width:180px;
}
.header1 a {
	text-decoration: none;
	color: white;
}

.header1 #header1_left {
	margin: 15px 0;
}

.header1 #header1_right {
	margin: 30px 0;
	/* padding: 9px 22px 10px; */
	background-color: #326DFB;
	border-radius: 5px;
	color: white;
	font-family: Pretendard;
	width: 180px;
	height: 45px;
/*     line-height: 45px; */
    text-align: center;
}
#header1_right a{
	padding: 7px;
}
.header {
	display:none;
}

@media ( max-width :1024px) {

/* input 중에 id가 trigger인 항목에 대한 css */
        input[id=trigger] {
            display: none;
        }

        /* label 중에 for가 trigger인 항목 */
        label[for=trigger] {
            /* border: 1px solid red; */
            width: 20px;
            height: 14px;
            display: block;
            position: relative;
            cursor: pointer;
        }

        /* label 중에 for가 trigger인 항목 안의 span */
        label[for=trigger] span {
            display: block;
            height: 2px;
            background-color: #000;
            left: 10px;
            width: 100%;
            position: absolute;
            transition: 0.3s;
            z-index: 1000;
        }

        /* label[for=trigger] > span의 n번째 요소 */
        label[for=trigger] span:nth-child(1) {
            top: 0;
        }

        label[for=trigger] span:nth-child(2) {
            top: 50%;
        }

        label[for=trigger] span:nth-child(3) {
            top: 100%;
        }

        /* check시 변하는 label[for=trigger] > span의 n번째 요소  */
        input[id=trigger]:checked+label span:nth-child(1) {
            top: 50%;
            transform: rotate(45deg);
        }

        input[id=trigger]:checked+label span:nth-child(2) {
            opacity: 0;
        }

        input[id=trigger]:checked+label span:nth-child(3) {
            top: 50%;
            transform: rotate(-45deg);
        }

        /* 사이드바 */
        .sidebar {
            width: 250px;
            height: 100vh;
            background-color: pink;
            position: fixed;
            top: 0;
            left: 0;
            left: -250px;
            transition: 0.3s;
            z-index: 100;
        }

        /* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
        input[id=trigger]:checked~.sidebar {
            left: 0;
        }

        /* check시 같이 밀려나가는 CSS 햄버거 메뉴 */
        input[id=trigger]:checked+label[for=trigger] {
            left: 190px;
            transition: 0.3s;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin:5px 16px 5px 16px;
        }

        #header_left img {
            width: 100px;
        }
        .header1 {
        display:none;
        }
        .sideLogin {
            height: 18%;
            background-color: white;
            padding: 5px 10px 5px 10px;
            position: relative;
        }
        .sideLogin button{
            border: 1px solid #4D81FF;
            color: #4D81FF;
            background-color: white;
            padding: 9px 80px 9px 80px;
            border-radius: 5px;
            position: absolute;
            top: 65%;
            left: 10%;
            cursor:pointer;
        }
        .sidebar {
            background-color: #4D81FF;
        }
        .sideLi ul li {
            padding: 15px;
            color: white;
        }
        .sideLi ul li:hover {
            background-color: #7ba2fd;
            cursor: pointer;
        }
        .sideLi a{
        text-decoration: none;
        }
        #header_right img{
        width:20px;
        }
}