@charset "UTF-8";

* {
	margin: 0 auto;
	padding: 0;
}

html, body {
	min-width: unset;
	overflow-x: hidden;
}

button, html [type="button"] {
	-webkit-appearance: none;
}

a {
	text-decoration: none;
	color: #333333;
}

a:visited {
	color: #333333;
}


body {
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}

#categoryscroll {
	color: #fafafa;
}

header img {
	height: 650px;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url("../imgs/main_background.png");
}

.main_BackgrounArea {
	position: absolute;
	top: 15%;
	left: 3%;
	background-color: rgb(0, 0, 0, 0.4);
	color: white;
	height: 500px;
	width: 930px;
}

.Background_textArea {
	position: absolute;
	top: 15%;
	left: 5%;
}

.textArea_p1, .textArea_p2, .textArea_p3 {
	padding: 10px 20px 20px 20px;
}

.textArea_p1 {
	display: flex;
}

.textArea_p1 #divb {
	background-color: white;
	width: 250px;
	height: 1px;
	margin: 11px;
}

.textArea_p2 {
	font-size: 45px;
	font-weight: bold;
}

.Background_textArea button {
	margin-left: 20px;
	margin-top: 30px;
	width: 350px;
	height: 80px;
	font-size: 35px;
	font-weight: bold;
	color: white;
	background-color: #326DFB;
	border-style: none;
	border-radius: 10px;
	box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
	cursor: pointer;
}

.wrap_container {
	width: 1028px;
	margin: 0 auto;
}

h2 {
	padding-top: 80px;
	line-height: 50px;
	color: #326DFB;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
}

h4 {
	text-align: center;
	color: #888888;
	padding-bottom: 85px;
	font-size: 25px;
	margin-top: 13px;
}

.section_1 .category {
	display: flex;
	justify-content: center;
}

.section_1 .category2 {
	display: flex;
	justify-content: center;
}

.category_1, .category_2, .category_3 {
	width: 220px;
	height: 220px;
	background-color: #fafafa;
	margin: 30px;
	text-align: center;
	box-shadow: 0 3px 6px #00000029;
	border-radius: 26px;
	position: relative;
	color: #888888;
}

.section_1 .category .cate_img1 {
	background: url(../imgs/category_off1.svg) no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: 60px;
}

.section_1 .category .cate_img2 {
	background: url(../imgs/category_off2.svg) no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: 70px;
}

.section_1 .category .cate_img3 {
	background: url(../imgs/category_off3.svg) no-repeat;
	background-size: cover;
	width: 70px;
	height: 107px;
	margin-top: 40px;
	margin-left: 75px;
}

.section_1 .category .cate_p1 {
	position: absolute;
	right: 19%;
	top: 80%;
	font: normal normal bold 18px/30px Pretendard;
}

.section_1 .category .cate_p2 {
	position: absolute;
	right: 33%;
	top: 80%;
	font: normal normal bold 18px/30px Pretendard;
}

.section_1 .category .cate_p3 {
	position: absolute;
	right: 26%;
	top: 80%;
	font: normal normal bold 18px/30px Pretendard;
}

.category_1:hover {
	outline: solid 1px #326DFB;
	color: black;
	cursor: pointer;
}

.category_2:hover {
	outline: solid 1px #326DFB;
	color: black;
	cursor: pointer;
}

.category_3:hover {
	outline: solid 1px #326DFB;
	color: black;
	cursor: pointer;
}

.category_1:hover>.cate_img1 {
	background: url(../imgs/category_on1.svg);
	background-size: cover;
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: 60px;
}

.category_2:hover>.cate_img2 {
	background: url(../imgs/category_on2.svg);
	background-size: cover;
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: 70px;
}

.category_3:hover>.cate_img3 {
	background: url(../imgs/category_on3.svg);
	background-size: cover;
	width: 70px;
	height: 107px;
	margin-top: 40px;
	margin-left: 75px;
}

.wrap_container button {
	padding: 20px;
	width: 400px;
	margin: auto;
	display: block;
	background-color: #326DFB;
	color: white;
	font-size: 35px;
	font-weight: bold;
	border-style: none;
	border-radius: 15px;
	box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
	cursor: pointer;
}

.button_area {
	margin-top: 200px;
	margin-bottom: 200px;
}

.tab_menu {
	position: relative;
	width: 100%;
	height: 600px;
}

.tab_menu .list {
	display: flex;
	/* overflow: hidden; */
}

ul {
	list-style: none;
}

.tab_menu .list .menu_btn {
	font-size: 22px;
	color: black;
}

.tab_menu .list .list_123 {
	display: none;
	position: absolute;
	left: 0;
	color: black;
	text-align: left;
	width: 350px;
	height: 500px;
	line-height: 100px;
}

.tab_menu .list li.list_wrap .menu_btn {
/* 	font-weight: bold; */
	color: black;
	font-size: 22px;
}

.tab_menu .list li.list_wrap {
	display: flex;
}

.list_wrap #div_bar{
	padding: 0 15px;
	font-size: 22px;
}

.tab_menu .list li.list_wrap .list_123 {
	display: block;
}

.tab_menu .list_123 .list_re {
	width: 1028px;
	border-top: 1px solid #707070;
    margin-top: 50px;
}

.tab_menu .list_123 .list_re #list_div {
	border-bottom: 1px solid #707070;
	width: 100%;
	height: 90px;
	display: flex;
}

.tab_menu #list_title {
	width: 90%;
	color: black;
	font-size: 20px;
	padding-left: 1%;
	margin: 35px 0;
}

.tab_menu #list_date {
	width: 7%;
	padding-right: 100px;
	font-size: 18px;
	margin: 35px 0;
}

.tab_menu #plusBtn {
	width: 5%;
	color: black;
}

#plusBtn img{
	margin: 35px 0;
}

.tab_menu .morebtn {
	font-size: 20px;
	font-weight: bold;
	color: black;
	padding-left: 730px;
	margin-right: 0;
}

.morebtn img {
    padding-left: 25px;
    height: 15px;
}

.section_4 {
	position: relative;
}

.footer_img {
	height: 355px;
}

.footer_img img {
	height: 355px;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url("../imgs/main_background.png");
}

.footer_contents {
	width: 700px;
	height: 230px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.footer_line1 {
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 20px;
}

.footer_line2 {
	font-size: 30px;
	padding-bottom: 20px;
}

.footer_hr {
	border-left: solid 1px white;
	height: 50px;
	margin: 10px;
}

.signupBtn {
	width: 150px;
	height: 40px;
	border-radius: 7px;
	border: solid 1px white;
	background-color: transparent;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.modal {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	visibility: hidden;
	justify-content: center;
	align-items: center;
}

.modal_content {
	width: 51%;
	height: 580px;
	border-radius: 15px;
	position: relative;
	top: 20%;
	left: 23%;
	text-align: center;
	box-sizing: border-box;
	padding: 44px 0;
	line-height: 23px;
	/* cursor:pointer; */
	background-color: #FAFAFA;
}

.closeBtn {
	background-image: url(../imgs/x_btn.svg);
	background-repeat: no-repeat;
	height: 22px;
	width: 40px;
	position: absolute;
	top: 4%;
	left: 96%;
	z-index: 100;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
}

.closeBtnM {
	display: none;
	background-image: url(../imgs/x_btn.svg);
	background-repeat: no-repeat;
	height: 22px;
	width: 40px;
	position: absolute;
	top: 4%;
	left: 96%;
	z-index: 100;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
}

.modal_con1 {
	color: #326DFB;
	font: normal normal 400 30px/42px Pretendard;
}

.modal_con1 span {
	font: normal normal 800 30px/42px Pretendard;
}

.modal_con2 {
	font: normal normal 600 20px/30px Pretendard;
	color: #888888;
}

.modal .category2 {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.modal .category_1, .modal .category_2, .modal .category_3 {
	width: 220px;
	height: 220px;
	background-color: #fcfcfc;
	margin: 30px;
	text-align: center;
	box-shadow: 0 3px 6px #00000029;
	border-radius: 26px;
	position: relative;
	color: #888888;
}

.modal .category2 .category_1 {
	border-radius: 0;
	box-shadow: 0 0px 0px #00000029;
	width: 100%;
	height: 0;
	padding-top: calc(300/ 1000 * 100%);
	background: url(../imgs/category_01.svg) center center/cover no-repeat;
	margin: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.modal .category2 .category_2 {
	border-radius: 0;
	box-shadow: 0 0px 0px #00000029;
	width: 100%;
	height: 0;
	padding-top: calc(300/ 1000 * 100%);
	background: url(../imgs/category_02.svg) center center/cover no-repeat;
	margin: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.modal .category2 .category_3 {
	border-radius: 0;
	box-shadow: 0 0px 0px #00000029;
	width: 100%;
	height: 0;
	padding-top: calc(300/ 1000 * 100%);
	background: url(../imgs/category_03.svg) center center/cover no-repeat;
	margin: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.modal .category_1:hover {
	outline: solid 1px #326DFB;
	color: black;
	cursor: pointer;
	color:#FFFFFF;

}

.modal  .category_2:hover {
	outline: solid 1px #326DFB;
	color: black;
	cursor: pointer;
	color:#FFFFFF;

}

.modal .category_3:hover {
	outline: solid 1px #326DFB;
	color: black;
	cursor: pointer;
	color:#FFFFFF;

}

.modal .category_1:hover>.cate_img1 {
	background: url(../imgs/category_on1.svg);
	background-size: cover;
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: 60px;
}

.modal .category_2:hover>.cate_img2 {
	background: url(../imgs/category_on2.svg);
	background-size: cover;
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: 70px;
}

.modal .category_3:hover>.cate_img3 {
	background: url(../imgs/category_on3.svg);
	background-size: cover;
	width: 70px;
	height: 107px;
	margin-top: 40px;
	margin-left: 75px;
}

.wrap_container .mmorebtn {
	display: none;
}

.wrap_container #m_img {
	display: none;
}

.section_1 .category2 {
	display: none;
}

.modal_img_wrap {
	display: none;
}

.modal_con3 {
	display: none;
}

.section_3{
	font-family: 'Pretendard';
}

/* 태블릿 */
@media all and (min-width:768px) and (max-width:1023px) {
	html, body {
		min-width: unset;
		overflow-x: hidden;
	}
	.wrap_container {
		width: 100%;
	}
	#headers {
		position: fixed;
		width: 100%;
		background-color: #ffffff;
		z-index: 10000;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	}
	.main_BackgrounArea {
		width: 90%;
		left: 5%;
		top: 13%;
	}
	.Background_textArea {
		text-align: center;
		width: 90%;
		top: 15%;
	}
	.textArea_p1 {
		justify-content: center;
	}
	.textArea_p1 #divf {
		background-color: white;
		width: 150px;
		height: 1px;
		margin: 11px;
	}
	.textArea_p1 #divb {
		background-color: white;
		width: 150px;
		height: 1px;
		margin: 11px;
	}
	.Background_textArea button {
		margin-left: 0%;
		width: 300px;
		height: 65px;
		font-size: 25px;
		box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
	}
	.textArea_p2 {
		font-size: 30px;
	}
	.textArea_p3 {
		font-size: 15px;
	}
	.section_1 {
		width: 100%;
	}
	.morebtn {
		display: none;
	}
	#plusBtn {
		display: none;
	}
	.tab_menu {
		width: 95%;
		left: 8%;
		height: 550px;
	}
	.tab_menu .list li.list_wrap .list_123 {
		width: 100%;
	}
	.tab_menu .list_123 .list_re div {
		width: 91%;
	}
	.tab_menu #list_date {
		padding-right: 0;
	}
	.tab_menu .list_123 .list_re {
		width: 100%;
	}
	.wrap_container .mmorebtn {
		display: block;
		width: 30%;
		height: 10%;
		background-color: white;
		color: #326DFB;
		border: 1px solid #326DFB;
		box-shadow: none;
		margin-bottom: 50px;
		font-size: 20px;
	}
	#manual_img {
		width: 100%;
	}
	.closeBtn {
		position: absolute;
		top: 4%;
		left: 90%;
	}
	.modal_con1 {
		color: #326DFB;
		font: normal normal 400 20px/42px Pretendard;
	}
	.modal_content {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 77%;
		height: 500px;
	}
}
/* 모바일 */
@media all and (min-width:320px) and (max-width:767px) {
	html, body {
		min-width: unset;
		overflow-x: hidden;
	}
	.section_1 .category2 {
		display: flex;
		margin-bottom: 60px;
	}
	.section_1 .category {
		display: none;
	}
	.img_wrap {
		width: 100%;
		height: 300px;
	}
	.section_1 .category2 .category_1 {
		border-radius: 0;
		box-shadow: 0 0px 0px #00000029;
		width: 100%;
		height: 0;
		padding-top: calc(300/ 1000 * 100%);
		background: url(../imgs/category_01.svg) center center/cover no-repeat;
		margin: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.section_1 .category2 .category_2 {
		border-radius: 0;
		box-shadow: 0 0px 0px #00000029;
		width: 100%;
		height: 0;
		padding-top: calc(300/ 1000 * 100%);
		background: url(../imgs/category_02.svg) center center/cover no-repeat;
		margin: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.section_1 .category2 .category_3 {
		border-radius: 0;
		box-shadow: 0 0px 0px #00000029;
		width: 100%;
		height: 0;
		padding-top: calc(300/ 1000 * 100%);
		background: url(../imgs/category_03.svg) center center/cover no-repeat;
		margin: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.wrap_container #manual_img {
		display: none;
	}
	.wrap_container #m_img {
		display: block;
		width: 100%;
	}
	h2 {
		padding-top: 40px;
		font-size: 17px;
	}
	h4 {
		padding-bottom: 25.5px;
		font-size: 13px;
		margin-top: 0;
	}
	.section_2 .wrap_container h2, .section_2 .wrap_container h4 {
		display: none;
	}
	.footer_line1 {
		font-size: 25px;
	}
	.wrap_container {
		width: 100%;
	}
	#headers {
		position: fixed;
		width: 100%;
		background-color: #ffffff;
		z-index: 10000;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	}
	.main_BackgrounArea {
		width: 90%;
		left: 5%;
		top: 13%;
	}
	.Background_textArea {
		text-align: center;
		width: 90%;
		top: 15%;
	}
	.textArea_p1 {
		justify-content: center;
		font-size: 14px;
	}
	.textArea_p1 #divf {
		background-color: white;
		width: 100px;
		height: 1px;
		margin: 11px;
	}
	.textArea_p1 #divb {
		background-color: white;
		width: 100px;
		height: 1px;
		margin: 11px;
	}
	.Background_textArea button {
		margin-left: 0%;
		width: 90%;
		height: 65px;
		font-size: 25px;
		box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
	}
	.textArea_p2 {
		font-size: 25px;
	}
	.textArea_p3 {
		font-size: 15px;
	}
	.section_1 {
		width: 100%;
	}
	.morebtn {
		display: none;
	}
	#plusBtn {
		display: none;
	}
	.tab_menu {
		width: 95%;
		left: 8%;
		height: 225px;
		padding-bottom: 27px;
    	margin-bottom: 27px;
	}
	.tab_menu .list li.list_wrap .list_123 {
		width: 100%;
		line-height: 43px;
		height: 43px;
	}
	.tab_menu .list_123 .list_re div {
		width: 91%;
		height: 43px;
	}
	
	.tab_menu .list_123 .list_re div:first-child {
		border-top: 0.8px solid #707070;
	}
	.tab_menu #list_date {
		padding-right: 0;
		font-size: 12px;
		width: 25%;
	}
	.tab_menu .list_123 .list_re {
		width: 100%;
		margin-top: 15px;
		border-top: none;
	}
	.tab_menu .list .menu_btn {
		font-size: 15px;
	}
	.tab_menu .list li.list_wrap .menu_btn {
		font-size: 15px;
	}
	.tab_menu #list_title {
/* 		width: 75%; */
		color: black;
		font-size: 13px;
	}
	.wrap_container .mmorebtn {
		display: block;
		width: 35%;
		height: 6%;
		background-color: white;
		color: #326DFB;
		border: 1px solid #326DFB;
		border-radius: 5px;
		box-shadow: none;
		margin-bottom: 42px;
		font-size: 18px;
		padding: 0;
	}
	.wrap_container button {
		padding: 15px;
		width: 80%;
		font-size: 25px;
		box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
	}
	.modal {
		position: fixed;
	}
	.modal .category2 {
		display: flex;
		padding-top: 40px;
		flex-direction: column;
		align-items: center;
	}
	.modal_content {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 77%;
		height: 350px;
		overflow: scroll;
		overflow-x: hidden;
	}
	.closeBtn {
		display: none;
		position: absolute;
		top: 4%;
		left: 90%;
	}
	.closeBtnM {
		display: block;
		position: absolute;
		top: 4%;
		left: 90%;
	}
	.modal_con1 {
		display: none;
		color: #326DFB;
		font: normal normal 400 14px/42px Pretendard;
	}
	.modal_con1 span {
		font: normal normal 800 18px/42px Pretendard;
	}
	.modal_con2 {
		display: none;
		font: normal normal 600 13px/30px Pretendard;
	}
	.modal_con3 {
		display: block;
		font: normal normal 800 18px/42px Pretendard;
	}
	.modal_img_wrap {
		width: 100%;
		height: 65px;
		display: block;
		color: #888888;
		font-size: 20px;
		font-weight: 600;
	}
	.modal .category2 .category_1, .modal .category2 .category_2, .modal .category2 .category_3
		{
		display: none;
	}
	.modal .category2 .modal_img_wrap .category_1 {
		display: block;
		border-radius: 10px;
		/* 		box-shadow: 0 3px 15px #00000029; */
		width: 100%;
		height: 65px;
		background: none;
		padding-top: 0;
		margin: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
		line-height: 60px;
/* 		border: 1px solid #AAA */
	}
	.modal .category2 .modal_img_wrap .category_2 {
		display: block;
		border-radius: 10px;
		/* 		box-shadow: 0 3px 15px #00000029; */
		width: 100%;
		height: 65px;
		background: none;
		padding-top: 0;
		margin: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
		line-height: 60px;
/* 		border: 1px solid #AAA */
	}
	.modal .category2 .modal_img_wrap .category_3 {
		display: block;
		border-radius: 10px;
		/* 		box-shadow: 0 3px 15px #00000029; */
		width: 100%;
		height: 65px;
		background: none;
		padding-top: 0;
		margin: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
		line-height: 60px;
/* 		border: 1px solid #AAA */
	}
.modal .category2 .modal_img_wrap .category_1:hover {
	outline: solid 1px #326DFB;
	color: black;
	cursor: pointer;
	color:#FFFFFF;
	background:linear-gradient(to right, #326DFB, #204396);
			box-shadow: 0 3px 15px #00000029;
}

.modal .category2 .modal_img_wrap  .category_2:hover {
	outline: solid 1px #326DFB;
	color: black;
	cursor: pointer;
	color:#FFFFFF;
	background:linear-gradient(to right, #326DFB, #204396);
				box-shadow: 0 3px 15px #00000029;
	
}

.modal .category2 .modal_img_wrap .category_3:hover {
	outline: solid 1px #326DFB;
	color: black;
	cursor: pointer;
	color:#FFFFFF;
	background:linear-gradient(to right, #326DFB, #204396);
				box-shadow: 0 3px 15px #00000029;
}
}