 *,html,body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #wrap {
            width:100%;
        }
        a {
            text-decoration: none;
        }

        .nav {
            position: relative;
            text-align: center;
            color: white;
            font-weight: bold;
            width:100%;
            height:150px;
            background-color: #333333;
            margin-bottom: 70px;
        }
        .nav .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 20px;
        }
        .nav .title span {
            font-size: 30px;
        }










        #css_tabs {
            font-family:'nanumgothic', '나눔고딕', 'malgun gothic', '맑은 고딕', 'dotum', '돋움', sans-serif;
            width:1024px;
            margin:0 auto;
            box-sizing: border-box;

            /* display:inline-block 속성인 label 여백 없애는 방법(하위 자식들에게 다시 font-size 줘야함)*/
            font-size: 0;
            letter-spacing: 0;
            word-spacing: 0;
        }
        /* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
        #css_tabs > input:nth-of-type(1), #css_tabs > input:nth-of-type(1) ~ div:nth-of-type(1), #css_tabs > input:nth-of-type(2), #css_tabs > input:nth-of-type(2) ~ div:nth-of-type(2) {
            display:none
        }
        #css_tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1), #css_tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
            display:block
        }
        /* 라벨 기본 스타일 지정 */
        #css_tabs > label {
            display:inline-block;
            /* font-variant:small-caps; */
            font-size:20px;
            text-align:center;
            width:507px;
            height:87px; /* 탭 높이 조절할때 */
            line-height:87px; /* 글자 세로 정렬할때 */
            
            font-weight:700;
            /* border-radius:3px 3px 0 0; */
            background:#eee;
            color:black;
            border:1px solid black;
            /* border-width:1px 1px 0 */
        }
        #css_tabs > label:hover {
            cursor:pointer
        }
        #css_tabs label[for=tab1] {
            /* margin-left:1.5em */
            border-radius: 5px 0 0 5px;
            border-right:none;
        }
        #css_tabs label[for=tab2] {
            /* margin-left:1.5em */
            border-radius: 0 5px 5px 0;
            border-left:none;
        }
        /* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
        #css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1) {
            background:#0080FF;
            color:#fff
        }
        #css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2) {
            background:#0080FF;
            color:#fff
        }
        /* 실제 내용이 담긴 div 요소 스타일 지정 */
        #css_tabs .tab1_content, #css_tabs .tab2_content {
            /* padding:2em; */
            /* border:1px solid #ddd; */
            width:100%;
            height:100%
        }
        .tab2_content {
            font-size: 1rem;
        }

        
        ul {
            list-style:none;

/*             content:"";
            display: block;
            clear:both;  */
        }
        


        #join {
            width:100%;
            margin: 4% auto;
            color: #444343;
            /* border:1px solid red; */
        }
        #join p {
            margin: 0;
            padding: 0;
        }
        #join span {
            color: #EA933C;
        }

        .text_area {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 3%;
            font-weight: 600;
            margin-bottom: 1%;
        }
        .text_area .item_1 {
            font-size: 1.3rem;
            letter-spacing: 0px;
			color: #393737;
        }
        .text_area .item_2 {
            position: relative;
            font-size: 1.1rem;
        }
        .text_area .item_2 span {
            position: absolute;
            left:-15px;
            letter-spacing: 0px;
			color: #C71717;
			opacity: 1;
        }

        #updateform {
            display: flex; /* 가로 배치를 할껀데 */
            flex-direction: column; /* 한줄에 하나의 컬럼만 배치 infomation_item div가 한줄에 하나씩*/
            background-color: #F4F2F2;
        }

        #join .infomation_item {
            border-top: solid;
            border-width:1px; /* top하고 width 위치 바뀌면 이상? */
            border-color: #707070;
           
            display: flex;
            align-items: center;
            height:120px;
        }
      
     

        #join .infomation_item .name_item {
            position: relative;
            width: 25%;
            background-color: #F4F2F2;
            display: flex;
            font-size: 1.2rem;
            font-weight: 600;
            justify-content: flex-end;
           
        }
        #join .infomation_item .name_item span {
            position: absolute;
            left: 20%;
        }
        #join .infomation_item .name_item p {
            width: 70%;
        }
        #join .infomation_item .value_item {
            box-sizing: border-box;
            padding: 3% 5%;
            width: 75%; /* infomation_item안에 value_item */
            background-color: white;
            height:100%;
            display: flex; /* 세로 센터 정렬*/
            align-items: center; /* 세로 센터 정렬*/
            /* border:1px solid red; */
            position: relative;
        }
        #join .infomation_item .value_item input::placeholder {
        	letter-spacing: 0px;
			color: #707070;
			opacity: 1;
        }
        #join .infomation_item .value_item .id_wrap {
            position: absolute;
            width:70%;
           /*  border:1px solid blue; */
        }
        #join .infomation_item .value_item .id_wrap #id {
           
            width:100%;
            
        }
		 #join .infomation_item .value_item .pw_wrap {
            width:100%;
            /* border:1px solid red; */
        }
        
        #join .infomation_item .value_item .pw_wrap p {
        	font-size:12px;
            font-weight: bold;
            padding-top: 1%;
        }
        
         #join .infomation_item .value_item input{
            width: 80%;
            border: none;
            border-bottom: solid;
            border-width: 1px;
            border-color: #707070;
            height: 30px;
            text-indent: 1%; /* 들여쓰기 */
            font-size: 1rem;
        }
        #join .infomation_item .value_item .member_pw {
            width:80%;
            /* border:1px solid red; */
        }
        #join .infomation_item .value_item .member_pw_check {
            width:80%;
        }
        #join .infomation_item .value_item span {
            font-weight: bold;
            font-size: 0.8rem;
        }
        #join .infomation_item .value_item .mail_item_1 {
            width:33%;
            margin-right: 10px;
        }
        #join .infomation_item .value_item .mail_item_2 {
            width:33%;
            margin-left: 10px;
            margin-right: 10px;
        } 
        #join .infomation_item .value_item .mail_item_3 {
            width:166px;
            height: 39px;
            text-indent: 3%;
            font-weight: 600;
            cursor: pointer;
        }
        #join .infomation_item .value_item #tel {
            width: 54%;
            margin-right: 10px;
        }
        #join .infomation_item .value_item .certification_button{
            width: 104px;
            height: 39px;
            background: white;
            border: solid 1px #707070;
            font-size: 0.8rem;
            font-weight: 600;
            cursor: pointer;
        }
        #join .infomation_item .value_item #sms_certification{
            display: none;
        }

        #join .member_submit {
            background-color: white;
            text-align: center;
            padding-top:50px;
            
        }

        #join .member_submit input {
            background-color: #326DFB;
            border: none;
            color: white;
           /*  padding:10px 30px; */
            width:106px;
            height:40px;
            font-size: 1.5rem;
            cursor: pointer;
            font-weight: 600;
            border-radius: 7px;
            margin-right: 15px;
        }
        #join .member_submit .reset {
            box-sizing: border-box;
            background-color: white;
            border:1px solid #0080FF;
            color: #0080FF;
            
        }