@charset "UTF-8";
 
/* 아이폰 input css안먹을때 */
input, button, html [type="time"], html [type="date"]{
  -webkit-appearance: none;   
}
/* 아이폰 input date, time 텍스트 왼쪽정렬 */
input::-webkit-date-and-time-value {
    text-align: left;
}

 *,html,body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #333333;
        }
        #wrap {
            width:100%;
        }
        a {
            text-decoration: none;
        }

        .nav {
            position: relative;
            text-align: center;
            /* color: white; */
            font-weight: bold;
            width:100%;
            height:150px;
            /* background-color: #333333; */
            margin-bottom: 200px;
        }
        .nav .banner {
            width:100%;
            height:240px;
            background-image: url("../imgs/mypage_banner.jpg");
            background-size: cover;
            background-position: 50% 50%;
        }
        .nav .banner span {
            color:white;
            font-size: 30px;
            line-height: 240px;
            letter-spacing: 4px;
        }
        
        
 /*        .nav .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 20px;
        }
        .nav .title span {
            font-size: 30px;
        } */


        #css_tabs {
            font-family:'nanumgothic', '나눔고딕', 'malgun gothic', '맑은 고딕', 'dotum', '돋움', sans-serif;
            width:1024px;
            margin:0 auto;
            box-sizing: border-box;

            /* display:inline-block 속성인 label 여백 없애는 방법(하위 자식들에게 다시 font-size 줘야함)*/
            font-size: 0;
            letter-spacing: 0;
            word-spacing: 0;
        }
        /* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
        #css_tabs > input:nth-of-type(1), #css_tabs > input:nth-of-type(1) ~ div:nth-of-type(1), #css_tabs > input:nth-of-type(2), #css_tabs > input:nth-of-type(2) ~ div:nth-of-type(2) {
            display:none
        }
        #css_tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1), #css_tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
            display:block
        }
        /* 라벨 기본 스타일 지정 */
        #css_tabs > label {
            display:inline-block;
            /* font-variant:small-caps; */
            font-size:20px;
            text-align:center;
            width:507px;
            height:87px; /* 탭 높이 조절할때 */
            line-height:87px; /* 글자 세로 정렬할때 */
            
            font-weight:700;
            /* border-radius:3px 3px 0 0; */
            background:#fff;
            color:#444343;
            border:1px solid #707070;
            /* border-width:1px 1px 0 */
        }
        #css_tabs > label:hover {
            cursor:pointer
        }
        #css_tabs label[for=tab1] {
            /* margin-left:1.5em */
            /* border-radius: 5px 0 0 5px; */
            border-right:none;
        }
        #css_tabs label[for=tab2] {
            /* margin-left:1.5em */
            /* border-radius: 0 5px 5px 0; */
            border-left:none;
        }
        /* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
        #css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1) {
            background:#326DFB;
            color:#fff
        }
        #css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2) {
            background:#326DFB;
            color:#fff
        }

        /* input date, time 기본값 제거 */
        input[type=date]::datetime-edit-text { 
            appearance: none; 
            display: none; 
          } 
          
        input[type=date]::datetime-edit-month-field { 
        appearance: none; 
        display: none; 
        } 
        
        input[type=date]::datetime-edit-day-field {
        appearance: none; 
        display: none; 
        } 
        
        input[type=date]::datetime-edit-year-field { 
        appearance: none; 
        display: none; 
        }
        




        /* 실제 내용이 담긴 div 요소 스타일 지정 */
        #css_tabs .tab1_content, #css_tabs .tab2_content {
            /* padding:2em; */
            /* border:1px solid #ddd; */
            width:100%;
            height:100%
        }
        .tab2_content {
            font-size: 1rem;
        }

        
        ul {
            list-style:none;
/*             content:"";
            display: block;
            clear:both;  */
        }

        #join {
            width:100%;
            margin: 50px auto;
            color: #444343;
            /* border:1px solid red; */
        }
        #join p {
            margin: 0;
            padding: 0;
        }
        #join span {
            color: #EA933C;
        }

        .text_area {
            display: flex;
            width: 100%;
            justify-content: space-between;
            /* margin-top: 3%; */
            font-weight: 600;
            margin-bottom: 10px;
        }
        .text_area .item_1 {
            font-size: 1.3rem;
            letter-spacing: 0px;
			color: #393737;
        }
        .text_area .item_2 {
            position: relative;
            font-size: 1.1rem;
        }
        .text_area .item_2 span {
            position: absolute;
            left:-15px;
            letter-spacing: 0px;
			color: #C71717;
			opacity: 1;
        }

        #updateform {
            display: flex; /* 가로 배치를 할껀데 */
            flex-direction: column; /* 한줄에 하나의 컬럼만 배치 infomation_item div가 한줄에 하나씩*/
            background-color: #F4F2F2;
        }

        #join .infomation_item {
            border-top: solid;
            border-width:1px; /* top하고 width 위치 바뀌면 이상? */
            border-color: #707070;
           
            display: flex;
            align-items: center;
            height:120px;
        }
      
     

        #join .infomation_item .name_item {
            position: relative;
            width: 25%;
            background-color: #F4F2F2;
            display: flex;
            font-size: 1.2rem;
            font-weight: 600;
            justify-content: flex-end;
           
        }
        #join .infomation_item .name_item span {
            position: absolute;
            left: 20%;
        }
        #join .infomation_item .name_item p {
            width: 70%;
        }
        #join .infomation_item .value_item {
            box-sizing: border-box;
            padding: 3% 5%;
            width: 75%; /* infomation_item안에 value_item */
            background-color: white;
            height:100%;
            display: flex; /* 세로 센터 정렬*/
            align-items: center; /* 세로 센터 정렬*/
            /* border:1px solid red; */
            position: relative;
        }
        #join .infomation_item .value_item input::placeholder {
        	letter-spacing: 0px;
			color: #707070;
			opacity: 1;
        }
        #join .infomation_item .value_item input:focus-visible{
            outline: none;
        }

        #join .infomation_item .value_item .id_wrap {
            position: absolute;
            width:70%;
           /*  border:1px solid blue; */
        }
        #join .infomation_item .value_item .id_wrap #id {
           
            width:100%;
            
        }
		 #join .infomation_item .value_item .pw_wrap {
            width:100%;
            /* border:1px solid red; */
        }
        
        #join .infomation_item .value_item .pw_wrap p {
        	font-size:12px;
            font-weight: bold;
            padding-top: 1%;
        }
        
         #join .infomation_item .value_item input{
            width: 80%;
            border: none;
            border-bottom: solid;
            border-width: 1px;
            border-color: #707070;
            /* height: 30px; */
            height: 39px;
            text-indent: 1%; /* 들여쓰기 */
            font-size: 1rem;
        }
        #join .infomation_item .value_item .member_pw {
            width:80%;
            /* border:1px solid red; */
        }
        #join .infomation_item .value_item .member_pw_check {
            width:80%;
        }
        #join .infomation_item .value_item span {
            font-weight: bold;
            font-size: 0.8rem;
        }
        #join .infomation_item .value_item .mail_item_1 {
            width:33%;
            margin-right: 10px;
        }
        #join .infomation_item .value_item .mail_item_2 {
            width:33%;
            margin-left: 10px;
            margin-right: 10px;
        } 
        #join .infomation_item .value_item .mail_item_3 {
            width:166px;
            /* height: 39px; */
            height: 40px;
            text-indent: 3%;
            font-weight: 600;
            cursor: pointer;
        }
        #join .infomation_item .value_item #tel {
            width: 54%;
            margin-right: 10px;
        }
        #join .infomation_item .value_item .certification_button{
            width: 104px;
            /* height: 39px; */
            height: 40px;
            background: white;
            border: solid 1px #707070;
            font-size: 0.8rem;
            font-weight: 600;
            cursor: pointer;
            margin-left: 10px;
        }
        #join .infomation_item .value_item #sms_certification{
            display: none;
        }

        #join .member_submit {
            background-color: white;
            text-align: center;
            padding-top:50px;
            
        }

        /* #join .member_submit input {
            background-color: #326DFB;
            border: none;
            color: white;
             padding:10px 30px; 
            width:106px;
            height:40px;
            font-size: 1.5rem;
            cursor: pointer;
            font-weight: 600;
            border-radius: 7px;
            margin-right: 15px;
        }
        #join .member_submit .reset {
            box-sizing: border-box;
            background-color: white;
            border:1px solid #326DFB;
            color: #326DFB;
            
        } */
     
        
/* memo start */
.tab2_content{
    width: 100%; height: auto;
    margin-top: 40px;
}
.tab2_content h4{
    text-align: center;
    margin-bottom: 40px;
}
.memo_table{
    width: 100%;
    position: relative;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.memo_add_box, .memo_box{
    width: 230px; height: 300px;
    border: 1px solid #326DFB;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #efefef;
}
.memo_add_box{
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.memo_box{
    padding: 15px;
    position: relative;
    line-height: 25px;
}
.memo_box h3{
    text-align: center;
    margin: 15px 0;
}
.memo_box p{
    font-size: 15px;
}
#add_memo{
    width: 50px; height: 50px;
    background:url("../imgs/add_memo_icon.svg") center / contain no-repeat;
    cursor:pointer;
	border:0px;
}
.memo_box input{
    width: 20px; height: 20px;
    position: absolute;
    top: 10px; right: 10px;
    cursor:pointer;
	border:0px;
    background:url("../imgs/delete_memo_icon.svg") center / contain no-repeat;
}


/* 모달 */
#add_memo_form, #update_memo_form{
    display: none;
    z-index: 999999;
    position: relative;
}
.modal_layer {
	position:fixed;
	top:0; left:0;
	width:100%; height:100%;
	background:rgba(0,0,0,0.4);
	z-index:0;
}
.memo_form{
    width: 630px; height: 700px;
    background-color: #ffffff;
    border-radius: 20px;
    position: fixed;
    top: calc(50% - 350px);
    left: calc(50% - 315px);
    padding: 15px;
}
.memo_form > input[type=button] {
    width:42px; height:42px;
    position: absolute;
    top: 20px; right: 20px;
    cursor:pointer;
    border:0px;
    background:url("../imgs/delete_memo_icon.svg") center / contain no-repeat;
}
.memo_form h1{
    font-size: 35px;
    padding-left: 40px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 30px;
}
.memo_form hr {
    border: 0;
    height: 1px;
    background-color: #DDD;
}
.memo_form_detail{
    margin: 30px 0;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form_line{
    display: flex;
    align-items: center;
}
.memo_line{
    align-items: flex-start;
}
.memo_form_icon{
    width: 17px; height: 17px;
    margin-right: 10px;
}
.form_line:nth-child(1) .memo_form_icon{
    background: url("../imgs/memo_title.svg") center / contain no-repeat;
}
.form_line:nth-child(2) .memo_form_icon{
    background: url("../imgs/memo_time.svg") center / contain no-repeat;
    width: 15px;
}
.form_line:nth-child(3) .memo_form_icon{
    background: url("../imgs/memo_calendar.svg") center / contain no-repeat;
}
.form_line:nth-child(4) .memo_form_icon{
    background: url("../imgs/memo_text.svg") center / contain no-repeat;
    height: 14px;
    margin-top: 12px;
}
.memo_form_detail span{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
.memo_form_detail input, .memo_form_detail textarea{
    border-radius: 7px;
    outline: none;
    border: 2px solid #707070;
    padding: 15px;
    font-size: 15px;
    width: 430px;
}
.memo_form_detail input[name="title"]{
    height: 50px;
}
.memo_form_detail input[name="time"], .memo_form_detail input[name="date"]{
    width: 230px; height: 50px;
}
#arg{
    vertical-align: top;
    margin-top: 7px;
}
.member_submit{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.member_submit input{
    width: 95px; height: 35px;
    border-radius: 7px;
    border: 1px solid #326DFB;
    font-size: 15px;
}
.member_submit input[type="submit"], .member_submit #member_submit_btn{
    color: #ffffff;
    background-color: #326DFB;
    margin-right: 10px;
}
.member_submit input[type="reset"]{
    color: #326DFB;
    background-color: #ffffff;
}
.pageInfo_area{
    width: 100%;
    margin: 50px 0;
}
.pageInfo{
    display: flex;
    gap: 10px;
    justify-content: center;
}
	
.selected_page {
    text-decoration: underline;
    text-underline-position: under;
    font-weight: 600;
}


/* memo end */

        
/* .tab2_content h4 {
    margin:3% auto 3%;
    text-align:center;
}

.memo_table {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.memo_table .memo_add_box {
	margin-top:3%;
    width:233px;
    height:297px;
    
    border:1px solid #326DFB;
    border-radius:10px;
    box-shadow:0px 3px 6px #00000029;
    background:#FFFFFF 0% 0% no-repeat padding-box;
    
}



.memo_table .memo_add_box input[type=button] {
	width:49px;
	height:49px;
	margin:50% 40%;
    cursor:pointer;
	border:0px;
	background:url("../imgs/add_memo_icon.svg") center / contain no-repeat;
}

.memo_table .memo_box {
	margin-top:3%;
	width:233px;
	height:297px;
	
	overflow:hidden;
	background:#EFEFEF 0% 0% no-repeat padding-box;
	border:1px solid #326DFB;
	border-radius:10px;
	cursor:pointer;
	z-index:0;
}

.memo_table .memo_box input[type=button] {
	
	margin:10px;
	margin-left:85%;
	width:23px;
    height:23px;
    
    border:0px;
    cursor:pointer;
	background:url("../imgs/delete_memo_icon.svg") center / contain no-repeat;
	z-index:1;
}

.memo_table .memo_box h3 {
	padding-bottom:7%;
	text-align:center;
	
}

.memo_table .memo_box p {
	margin:auto 5%;
}

.memo_table .memo_box hr {
	width:90%;
	margin:1% auto;

}

#add_memo_form {
    display:none;
    
}

#add_memo_form .memo_form > input[type=button] {
    margin:3% 91%;
    width:42px;
    height:42px;
    cursor:pointer;
    border:0px;
    background:url("../imgs/delete_memo_icon.svg") center / contain no-repeat;
}

#add_memo_form .memo_form h1 {
    margin:0 auto 3% 7%;
    font-size:1.7em;
}

#add_memo_form .memo_form hr {
    margin:auto;
    width:600px;
}

#update_memo_form {
    display:none;
    
}

#update_memo_form .memo_form > input[type=button] {
    margin:3% 91%;
    width:42px;
    height:42px;
    cursor:pointer;
    border:0px;
    background:url("../imgs/delete_memo_icon.svg") center / contain no-repeat;
}

#update_memo_form .memo_form h1 {
    margin:0 auto 3% 7%;
    font-size:1.7em;
}

#update_memo_form .memo_form hr {
    margin:auto;
    width:600px;
}

.memo_form {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border:1px solid;
    border-radius:17px;
    width:627px;
    height:665px;


    background:#FFFFFF 0% 0% no-repeat padding-box;
    border-radius:17px;
}

.memo_form .memo_form_detail {
	margin-left:25px;
}


.memo_form .memo_form_detail p {
    margin:4%;
}



.memo_form .memo_form_detail span {
	margin:3%;
	font-weight: 600;
}

.memo_form .memo_form_detail #arg {
    position: relative;
    top: -80px;
}

.memo_form .memo_form_detail input[type=text] {
	padding:3%;
    width:450px;
    height:54px;

    border:2px solid #707070;
    border-radius:7px;
}

.memo_form .memo_form_detail input[type=time], input[type=date] {
	color:white;
}

.memo_form .memo_form_detail input[type=time], input[type=date] {
	padding:3%;
    width:225px;
    height:54px;

    border:2px solid #707070;
    border-radius:7px;
    pointer-events:none;
}

.memo_form .memo_form_detail input[type=time]:before {
	position:absolute;
	top:38.5%; left:21%;
	content: attr(data-time);
	display:inline-block;
	color:black;
}

.memo_form .memo_form_detail input[type=date]:before {
	position:absolute;
	top:50.5%; left:21%;
	content: attr(data-date);
	display:inline-block;
	color:black;
}

.memo_form .memo_form_detail textarea {
	padding:3%;
    width:450px;
    height:118px;
	resize:none;
    border:2px solid #707070;
    border-radius:7px;
}

.member_submit {
    background-color: white;
    text-align: center;
    padding-top:25px;
    
}

.member_submit input {
    background-color: #326DFB;
    border: none;
    color: white;
   padding:10px 30px;
    width:106px;
    height:40px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 7px;
    margin-right: 15px;
}

input::-webkit-calendar-picker-indicator {
	display:block;
	margin-right:5%;
	background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-32.png) no-repeat;
	width: 20px;
	height: 20px;
	pointer-events: auto; 
	cursor:pointer;
}

.member_submit .reset {
    box-sizing: border-box;
    background-color: white;
    border:1px solid #326DFB;
    color: #326DFB;
    
}

#memo .pageInfo_area {
	margin:auto;
	padding:5%;
}

.pageInfo_area #pageInfo {
	list-style:none;
	margin:auto;
	text-align:center;
}

.pageInfo_area .pageInfo li {
	display:inline-block;
	padding:5px;	
}

.modal_layer {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	z-index:0;
}
#at {
	width:15px;
}  */
/* 태블릿 */
@media all and (min-width:768px) and (max-width:1023px)  {
	html, body {
		min-width:unset;
		overflow-x:hidden;
	}
	#headers {
		position: fixed;
		width: 100%;
		background-color: #ffffff;
		z-index: 10000;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	}
	#css_tabs {
		
		width:85%;
	}
	
	#css_tabs label {
		width:50%;
		/* height:37px;
		font-size:14px;
		line-height:34px; */
        height: 80px;
        font-size: 20px;
        line-height: 80px;
	}
	
	.memo_table{
        justify-content: space-around;
        gap: 40px;
    }
    .memo_add_box, .memo_box{
        width: 300px; height: 400px;
    }
	#add_memo{
        width: 70px; height: 70px;

    }
    .memo_box input{
        width: 30px; height: 30px;
    }

    /* 모달 */
    .memo_form{
        height: 660px;
        top: calc(50% - 300px);
    }
    .memo_form_detail textarea{
        height: 150px;
    }
	/* .memo_table .memo_add_box {
		position:relative;
		width:100%;
		height:194px;
	}
	
	.memo_table .memo_add_box input[type=button] {
		margin:0;
		position:absolute;
		top:37%;
		left:42%;
	}
	
	.memo_table .memo_box {
		margin-top:4%;
		width:100%;
		height:194px;
	}
	
	.memo_table .memo_box input[type=button] {
		position:absolute;
		left:-8px;
	}
	
	.memo_table .memo_box h3 {
		padding-top:4%;
		padding-bottom:5%;
	}
	
	.modal_layer{
		display:none;
	}
	
	.memo_form {
		width:102%;
		height:103%;
	}
	
	.memo_form hr {
		display:none;
	}
	
	#add_memo_form .memo_form h1 {
		margin-top:5%;
		margin-bottom:8%;
		margin-left:5%;
	}
	
	#update_memo_form .memo_form h1 {
		margin-top:5%;
		margin-bottom:8%;
		margin-left:5%;
	}
	
	.memo_form input[type=button] {
		position:absolute;
		left:-3%;
		background:url(../imgs/add_memo_icon.svg) center / contain no-repeat;
	}
	
	.memo_form .memo_form_detail {
		margin:0;
	}
	
	.memo_form .memo_form_detail p span {
		color:#424242;
		
	}
	
	.memo_form .memo_form_detail p input[type=text] {
		margin-top:3%;
		width:100%;
		border: 1px solid #999999;
	}
	
	.memo_form .memo_form_detail p input[type=time] {
		margin-top:3%;
		width:100%;
		border: 1px solid #999999;
	}
	
	.memo_form .memo_form_detail p input[type=date] {
		margin-top:3%;
		width:100%;
		border: 1px solid #999999;
	}
	
	.memo_form .memo_form_detail input[type=date]:before {
		position:inherit;
		font-size:12px;
	}
	
	.memo_form .memo_form_detail p textarea {
		margin-top:3%;
		width:100%;
		border: 1px solid #999999;
	}
	
	.memo_form .memo_form_detail #arg {
		top:0;
	}
	
	.memo_form .member_submit input[type=submit] {
		margin-right:0%;
		font-size:15px;
		width:119px;
	}
	
	.memo_form .member_submit input[type=reset] {
		display:none;
	} */
	
}

/* 모바일 */
@media all and (min-width:320px) and (max-width:767px) {
	html, body {
		min-width:unset;
		overflow-x:hidden;
	}
	#headers {
		position: fixed;
		width: 100%;
		background-color: #ffffff;
		z-index: 10000;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	}
	#css_tabs {
		
		width:85%;
	}
	
	#css_tabs label {
		width:50%;
		height:37px;
		font-size:14px;
		line-height:34px;
	}
    .memo_box{
        width: 100%; height: 250px;
    }
    .memo_box input{
        width: 25px; height: 25px;
    }
    .memo_add_box{
        width: 50px; height: 50px;
        position: fixed;
        bottom: 40px; right: 20px;
        z-index: 5;
        background: none;
        border: 0;
        box-shadow: none;
    }

    /* 모달 */
    .memo_form{
        width: 100%; height: 100%;
        top: 0; left: 0;
        border-radius: 0;
        padding: 20px;
    }
    .memo_form hr {
        display: none;
    }
    .memo_form h1{
        margin-top:0;
        padding-left:0;
    }
    .memo_form_detail{
        padding-left:0;
    }
    .form_line{
        display: unset;
        position: relative;
    }
    .memo_form_icon{
        position: absolute;
        top: 4px;
    }
    /* .memo_form_detail p{
        display: flex;
        flex-direction: column;
        gap: 10px;
    } */
    .memo_form_detail input, .memo_form_detail textarea{
        width: 100% !important;
        margin-top: 10px;
        background-color: #ffffff;
    }
    .memo_form_detail span{
        margin-left: 25px;
    }
    #arg{
        line-height:normal;

    }
    .form_line:nth-child(4) .memo_form_icon{
        margin-top:0;
    }
	/* #memo h4 {
		margin-top:6%;
	}
	
	.memo_table .memo_add_box {
		position:relative;
		width:100%;
		height:194px;
	}
	
	.memo_table .memo_add_box input[type=button] {
		margin:0;
		position:absolute;
		top:37%;
		left:42%;
	}
	
	.memo_table .memo_box {
		margin-top:4%;
		width:100%;
		height:194px;
	}
	
	.memo_table .memo_box input[type=button] {
		position:absolute;
		left:-8px;
	}
	
	.memo_table .memo_box h3 {
		padding-top:4%;
		padding-bottom:5%;
	}
	
	.modal_layer{
		display:none;
	}
	
	.memo_form {
		width:102%;
		height:103%;
		top:58%;
	}
	
	.memo_form hr {
		display:none;
	}
	
	#add_memo_form .memo_form h1 {
		margin-top:5%;
		margin-bottom:8%;
		margin-left:5%;
	}
	
	#update_memo_form .memo_form h1 {
		margin-top:5%;
		margin-bottom:8%;
		margin-left:5%;
	}
	
	.memo_form input[type=button] {
		position:absolute;
		left:-3%;
		background:url(../imgs/add_memo_icon.svg) center / contain no-repeat;
	}
	
	.memo_form .memo_form_detail {
		margin:0;
	}
	
	.memo_form .memo_form_detail p span {
		color:#424242;
		
	}
	
	.memo_form .memo_form_detail p input[type=text] {
		margin-top:3%;
		width:100%;
		border: 1px solid #999999;
	}
	
	.memo_form .memo_form_detail p input[type=time] {
		margin-top:3%;
		width:100%;
		border: 1px solid #999999;
		background-color:white;
		white-space:nowrap;
		z-index:1;
	}
	
	.memo_form .memo_form_detail p input[type=date] {
		margin-top:3%;
		width:100%;
		border: 1px solid #999999;
		background-color:white;
		white-space:nowrap;
	}
	
	.memo_form .memo_form_detail input[type=time]:before {
		position:inherit;
		font-size:12px;
	}
	
	.memo_form .memo_form_detail input[type=date]:before {
		position:inherit;
		font-size:12px;
	}
	
	.memo_form .memo_form_detail p textarea {
		margin-top:3%;
		width:100%;
		border: 1px solid #999999;
	}
	
	.memo_form .memo_form_detail #arg {
		top:0;
	}
	
	.memo_form .member_submit input[type=submit] {
		margin-right:0%;
		font-size:15px;
		width:119px;
	}
	
	.memo_form .member_submit input[type=reset] {
		display:none;
	}
	
	input::-webkit-calendar-picker-indicator {
		display:block;
		width:78%;
		pointer-events: auto; 
		cursor:pointer;
		background:none;
		z-index:0;
	} */
}
