*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'pretendard';
}

#wrap {
	margin:0;
	padding:0;
}

.page-title {
	top:105px;
	width:100%;
	padding:76px 0;
	background-color:#FAFAFA;
}

.page-title .title {
	position:relative;
	width:1000px;
	margin:auto;
}

.title h1 {
	font-weight:700;
	font-size:40px;
	background:#FAFAFA 0% 0% no-repeat padding-box;
}

.homeiconboard{
    	position: relative;
		width: 1000px;
		height: 15px;
		flex-direction: row;
		float: right;
		margin-top: 42px;
    }
    
#uploadForm input:focus, #uploadForm textarea:focus{
	outline: none;
	border: 1px solid #326DFB;
}

    #icon_area {
    height: 100%;
    float: right;
    display: flex;
    }

    .homeiconboard .homeicon1{
    /* Layout Properties */
		width: 17px;
		height: 15px;
    }

    .homeiconboard .homeicon2{
		width: 8px;
		height: 15px;
		padding-left: 20px;
		opacity: 1;
    }
    
    .homeiconboard .homeicon3{
		height: 15px;
		padding-left: 15px;
		color: #AAAAAA;
		font-size: 12px;
		margin-top: 3px;
		opacity: 1;
    }

.board_btnarea {
	position:relative;
	margin:0 auto;
	/* width:1000px; */
	text-align:center;
	width: 100%;
	height: 50px;
	text-align: center;
}

.btnline{
  /* position:relative;
  bottom:2px;
  border-width: 100%;
  border-bottom: 1px solid #EEEEEE; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #EEEEEE;
  z-index: -2;
}

.board_btnarea #noticebtn {
	width:120px;
	/* height:46px; */
	height: 100%;
	color:#333333;
	/* background-color:white; */
	background-color: #00000000;
	border:0;
	font-weight:500;
	font-size:16px;
	display:inline-block;
	/* line-height:40px; */
	line-height: 50px;
	box-sizing: border-box;
	cursor: pointer;
}

.board_btnarea #noticebtn:after {
	display:block;
	width:100%;
	content:'';
	transform:scaleX(0);
}

.board_btnarea #noticebtn:hover:after {
	transform:scaleX(1);
}

.board_btnarea #noticebtn:hover {
	/* z-index:999; */
	border-bottom:2px solid #326DFB;
	color:#326DFB;
}

.board_btnarea #docbtn {
	width:120px;
	/* height:46px; */
	height: 100%;
	color:#333333;
	/* background-color:white; */
	background-color: #00000000;
	border:0;
	font-weight:500;
	font-size:16px;
	/* line-height:40px; */
	line-height: 50px;
	box-sizing: border-box;
	cursor: pointer;
}

.board_btnarea #docbtn:after{
  color: black;
  display:block;
  width:100%;
  content:'';
  transform:scaleX(0);
}

.board_btnarea #docbtn:hover:after{
  transform:scaleX(1);
}

.board_btnarea #docbtn:hover{
border-bottom:2px solid #326DFB;
  color: #326DFB;
}

.select_board_btn{
	border-bottom: 2px solid #326DFB !important;
	color: #326DFB !important;
}

.board_form {
	margin:auto;
	width:1200px;
}

.board_form h2 {
	margin:3%;
	text-align:center;
}

.board_form table {
	margin:auto;
	
	width:1000px;
	height:700px;
	
	border:1px solid; border-collapse:collapse;
	border-top:2px solid #333333;
	border-left:0px solid #FFFFFF;
	border-right:0px solid #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	
	display: table;
    table-layout: fixed;
}

.board_form .td1, .td3, .td5, .td7 {
	background: #F8F8F8 0% 0% no-repeat padding-box;
	padding-left:3%;
	display: table-cell;
}

.board_form .td2, .td4, .td6, .td8 {
	width: 800px;
}

.board_form .td1 {
	width: 200px;
	height: 61px;
}

.board_form .td2 {
	margin-left:2%;
	width: 740px;
	height: 40px;
	/* UI Properties */
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #DDDDDD;
	padding-left: 10px;
}

.board_form .td3 {
	width: 200px;
	height: 61px;
}

.board_form .td4 {
	margin-left:2%;
	width: 500px;
	height: 40px;
	/* UI Properties */
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #DDDDDD;
	padding-left: 10px;
}

.board_form .td5 {
	width: 200px;
	height: 151px;
}

.board_form .td6 .add_file {
	margin-left:2%;
	margin-bottom:1%;
	width:760px;
	height:100px;
	border:1px dashed #DDDDDD;
}

.board_form .td6 .add_file p {
	position:relative;
	top:37%;
	font-size:14px;
	color:#DDDDDD;
	text-align:center;
}

.board_form .td6 .add_file_btn_label {
	margin-left:2%;
	color:#FFFFFF;
	background:#333333;
	cursor:pointer;
	padding: 7px 10px;
	font: normal normal normal 12px/15px Pretendard;
	margin-right: 5px;
}

.board_form .td6 span {
	text-decoration-line:underline;
	cursor:pointer;
	font: normal normal normal 12px/15px Pretendard;
	color: #333333;
}

.board_form .td7 {
	width: 200px;
	height: 438px;
}

.board_form .td8 {
	resize:none;
	margin-left:2%;
	width: 760px;
	height: 400px;
	/* UI Properties */
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-left: 10px;
}

#fileDragDesc{
	font: normal normal normal 14px/17px Pretendard;
	text-align: center;	
	color: #999999;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fileDragDesc img {
    width: 12px;
    position: absolute;
    top: 32px;
    left: 295px;
}

#fileDragDesc #text{
	/* margin: 40px 0; */
	line-height: 20px;
}

#fileListTable {
    width: 760px;
    min-height:100px;
    height: auto;
    font-size: 15px;
    padding: 10px 0;
    box-sizing: border-box;
	border-style: solid;
}

#dropZone #filename {
    width: auto;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
}

#dropZone img {
    width: 12px;
}

.board_form span {
	font: normal normal 600 18px/21px Pretendard;
	color: #333333;
}

.board_form .cnl_btn {
	margin:2%;
	margin-right:0%;
	margin-left:77%;
	margin-bottom:15%;
	width: 80px;
	height: 40px;
	/* UI Properties */
	color:#326DFB;
	border: 1px solid var(--unnamed-color-326dfb);
	border: 1px solid #326DFB;
	background: #ffffff 0% 0% no-repeat padding-box;
	opacity: 1;
	cursor:pointer;
}

.board_form .sbm_btn {
	margin:1%;
	width: 80px;
	height: 40px;
	/* UI Properties */
	color:#ffffff;
	border:1px solid #326DFB;
	background: var(--unnamed-color-326dfb) 0% 0% no-repeat padding-box;
	background: #326DFB 0% 0% no-repeat padding-box;
	opacity: 1;
	cursor:pointer;
}